.comment{
    display: flex;
    align-items: center;
    margin: 14px 0;
}

.commentAvatar{
    width: 120px;
    height:120px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.commentText{
    background-color: rgba(110,110,110,0.7);
    width: 110px;
    padding:4px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    height: 150px;
    z-index: 2;
    left:60px;
    position: relative;
    overflow: hidden;


}
.commentText h5{
    margin: 4px;
}
.commentText p{
    margin: 4px;
    padding: 10px;
    color: #c3c3c3;
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: scroll;
    max-height: 75px;
}
.commentText p::-webkit-scrollbar {
    border-bottom: 2px solid #111111;
    border-top:2px solid #111111;
    width: 10px;
}

.commentText ::-webkit-scrollbar-thumb {
    background-color: #223c50;
}
.commentDate{
    max-width: 90px;
    background-color: #111111;
    color: white;
    align-self: flex-end;
}